body {
   padding: 0;
   margin: 0;
   font-family: 'Varela Round', sans-serif;
}

/* ScrollBar Customization */


::-webkit-scrollbar {
   width: 1em;
}

::-webkit-scrollbar-track {
   background: #0f1928;



}

::-webkit-scrollbar-thumb {
   background: rgb(36, 49, 66)
}

::-webkit-scrollbar-thumb:hover {
   background: rgb(56, 74, 96);
}




#logo {
   margin-left: 150px;
   padding: 20px;
   color: white;
   font-size: 35px;
   font-weight: 800;
   font-family: 'Varela Round', sans-serif;

}

/* Navigation Bar Styles */

nav {
   background-color: #1F2937;
   height: 120px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}


ul {
   list-style: none;
   margin-right: 90px;
   padding: 0;
   display: flex;
}

li {
   margin: 0 20px;
}

.nav-links {
   font-weight: 650;
   font-size: 20px;
   color: darkgray;
   font-family: 'Varela Round', sans-serif;
   text-decoration: none;
   transition: color 0.4s, font-style 0.3s;
}

.nav-links:hover {
   color: white;
   font-style: normal;
}

/* Main Section Styling */

.Main-Section {

   background-color: #1F2937;
   padding: 5px;
   padding-bottom: 100px;
}

.info {
   width: 350px;
   padding: 50px;
   padding-left: 150px;
}

#main-title {

   line-height: 1.5;
   width: 350px;
   font-size: 45px;
   font-weight: 900;
   margin-bottom: 0px;
   font-family: 'Varela Round', sans-serif;
   color: white;
}

#Subsection-Info {
   margin: 0;
   color: rgb(211, 211, 211);
   font-family: 'Varela Round', sans-serif;
   padding: 5px;
}

#signup {
   background-color: #3882f6;
   border-radius: 10px;
   border: none;
   padding: 12px 40px 10px 40px;
   margin-top: 20px;
   color: white;
   font-size: 18px;
   font-weight: 600;
}

.Main-Section img {

   position: absolute;
   top: 20%;
   left: 50%;
   width: 550px;

}

/* END OF MAIN SECTION */
/* BELOW MAIN SECTION BEGANS (Random Information) */

.Under-MainSect {

   padding: 50px 150px 50px 150px;
}

#randinfoTitle {
   display: flex;
   justify-content: center;
   font-size: 35px;
   font-weight: 700;
   height: 20px;
   padding-bottom: 3%;
}

.imgSec {
   width: 200px;
   height: 200px;
   border: solid rgb(53, 127, 238) 5px;
   border-radius: 10px;
}

.imgGallery {
   display: flex;
   justify-content: space-evenly;
   flex-direction: row;


}